:root {
    --primaryColor: #887643;

    --mainFontColor: white;
    --secondFontColor: rgb(2, 0, 27);
    --selectFontColor: yellow;
    --selectFontColor2:rgb(251, 246, 212);

    --primaryFont: 'Roboto Mono', monospace;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--primaryFont);
}

body {
    background-color: var(--primaryColor);
}

.big_gap{
    height: 30vh;
    border:2px solid blue;
}

/* HEADER */

.header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    padding-top: 5vh;
    padding-bottom: 3vh;
    background-color: var(--primaryColor);
    position: fixed;
    top: 0px;
    z-index: 11;
}

.header_title {
    color: var(--mainFontColor);
    font-family: var(--primaryFont);
    text-decoration: none;
}

.header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

}

.header_menu_link {
    color: var(--mainFontColor);
    font-family: var(--selectFontColor2);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 3px 3px 3px 3px;

}

.header_menu_link:hover,
.header_title:hover,
.main_home_text a:hover {
    color: var(--selectFontColor);
    transform: scale(0.99);
    transition: .5s;

}

/* HOME */

.main_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vw;
    width: 100%;

}

.main_home_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--mainFontColor);
    font-family: var(--primaryFont);
}

.main_home_text a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: var(--mainFontColor)
}

.main_home_text a:hover {
    color: var(--selectFontColor);
    transform: scale(0.99);
    transition: .5s;

}

/* ABOUT ME */

.main_aboutme {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 120px;
    padding: 40px 40px 40px 40px;
    width:100%;

}


/* ABOUT ME ---TEXTO */


.main_aboutme_textos {
    color:var(--mainFontColor);
    font-size: small;
    width:350px;
    margin-left: 100px;
}

.descripcion a{
    text-decoration: none;
    color:var(--selectFontColor2);
    font-weight: 500;
}

.descripcion a:hover{
    color:var(--selectFontColor);
    font-weight: 500;
    transition: .5s;
    transform: scale(0.99);
}


/* ABOUT ME --IMAGEN */



.main_aboutme_perfil1 {
    position: relative;
}

.main_aboutme_perfil1 .main_aboutme_perfil2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;

}

.main_aboutme_perfil1:hover .main_aboutme_perfil2 {
    opacity: 1;
}

.main_aboutme_perfil img{
    width: 200px;
    margin-right: 100px;
    margin-top:30px;
    border-radius: 1.5px;
}

/* CONTACT0*/

.main_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left:-80px; */
    /* border:2px solid red; */

    margin-top: 30vh;
}

.main_contact_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    /* border: 1px solid red; */

}

.main_contact_form label {
    /* font-weight: bold; */
    font-size: smaller;
    color: var(--mainFontColor);
    margin-bottom: 5px;
}

.main_contact_form ::placeholder {
    font-weight: bold;
    font-style: italic;
    font-size: small;
    color: var(--primaryColor);
    padding:10px 10px 10px 10px;
}

.main_contact_form input {
    width: 400px;
    height: 25px;
    border: none;
}

.main_contact_form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    gap: 2px
}

.main_contact_form textarea{
    resize: none;
    width: 400px;
    height: 100px;
}

.form_botones {
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.boton {
    width: 60px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border: none;
    background-color: var(--primaryColor);
    color: black;
    font-weight: bold;
}

.boton:hover {
    color: var(--selectFontColor);
    transition: .5s;
    transform: scale(0.99);
    
}


/* TECNOLOGIAS */
.tecnologias{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 30vh;
    margin-left: 50vh;
    color:var(--mainFontColor);
    gap:25px;
    
}


.t_title{
    color:var(--mainFontColor);
    margin-bottom: 10px;
}

.icons{
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    gap:30px;
    margin-left:20px;
}
.icon{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 60px;
    color: var(--selectFontColor2)

}
.icon i{
    font-size: 40px;
}

.icon:hover{
    border-bottom:3px solid var(--selectFontColor);
    transition: .3s;
    transform: scale(0.99);
    
}
.icon p{
    font-size: 10px;
}

/* PROYECTOS */

.main_proyectos{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 30vh;
    margin-left: 25vh;
    color:var(--mainFontColor);
    gap:25px;
    margin-bottom: 50px;
}

.proyectos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    
}

.proyecto{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    color:var(--selectFontColor2);
    font-weight: lighter;
}


.proyecto_perfil1 {
    position: relative;
}

.proyecto_perfil1 .proyecto_perfil2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;

}

.proyecto_perfil1:hover .proyecto_perfil2 {
    opacity: 1;
}


.proyecto img{
    width: 200px;
    border-radius: 1.5px;
}

.proyecto:hover{
    color:var(--selectFontColor);
    transition: .5s;
    transform: scale(0.99);
}

/* FOOTER */

.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    padding-bottom: 40px;
    /* border:2px solid red; */
    width:100%;
}



.visita a{
    text-decoration: none;
    color: var(--selectFontColor2);
}


.visita a:hover {
    color: var(--selectFontColor);
    transition: .5s;
    
}
.visita{
    margin-top: 20vh;
    color:var(--mainFontColor);
    font-size:15px;
}